*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-color:  #191919;
}
.confirmation-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.confirmation-page h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333333;
}

.confirmation-page p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #666666;
}

.message-form {
    background-color: #f2f2f2; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.message-form h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333333;
}

.message-form form textarea {
    width: 80%;
    height: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    display: flex;
    text-align: center;
}

.message-form form input[type="submit"] {
    background-color:rgb(212, 42, 71) ;
    border: solid 3px transparent;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
    color: white;
    margin-top: 1rem;
}

.message-form form input[type="submit"]:hover {
    background-color: transparent;
    border: solid 3px rgb(212, 42, 71) ;
    transition: .4s;
    cursor: pointer;
    color: black;
}

/* Si vous souhaitez également centrer verticalement le contenu */
html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 774px) {
    

    .confirmation-page {
        max-width: 90%;
        padding: 20px;
    }

    .confirmation-page h1 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .confirmation-page p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .message-form h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .message-form form textarea {
        height: 120px;
        margin-top: 10px;
    }

    .message-form form input[type="submit"] {
        padding: 10px 20px;
        margin-top: 10px;
    }
}



